body{
	background-color: #E3E3E3;
	text-align: center;
}
nav{
	background-color: rgb(48,48,48);
}
footer{
	background-color: rgba(48,48,48,.5);
	color: #D0CED0;
	padding: 1px;
}
a{
	text-decoration: none;
	color: #E3E3E3;
}
li{
	list-style: none;
}
.container{
	
}
.logo{
	width: 100%;
	height: auto;
}
.team{
	color: black;
}
.pro-pic{
	width: 100%;
	height: auto;
}